.menu {
     list-style-type: none;
     align-items: center;
     justify-content: space-evenly;
     margin: 0;
     padding: 0;
}

#menu {
     opacity: 0;
     position: fixed;
     width: 100%;
     bottom: 0;
     transition: opacity linear 600ms;
}

.itemMenu {
     padding: 10px;
     height: 40px;
     text-align: center;
     flex-grow: 1;
     cursor: pointer;
     background-color: #37C5BA;
     color: #D8DBE2;
}

.itemMenu span {
     opacity: 0;
     transition: opacity linear 400ms;
}

.itemMenu:hover {
     background-color: #22AAA1;
}

.itemMenu:hover span {
     opacity: 1;
}

.itemMenu:hover .icon {
     transform: translateY(0px);
}

.icon {
     transform: translateY(10px);
     margin: auto;
     display: block;
     width: 20px;
     height: 20px;
     transition: transform linear 200ms;
}

.user {
     justify-content: center;
     margin: 5px;
}

.user p {
     margin: 0;
}

.user img {
     margin: 1px;
     width: 16px;
     height: 16px;
}

.form {
     align-items: center;
     justify-content: center;
     margin: 10px;
}

layer {
     font-size: 12px;
     margin: 0;
}

#DOM {
     transform: translateY(30px);
     opacity: 0;
     transition: transform linear 450ms, opacity linear 600ms;
}

#msg {
     height: 20px;
     font-size: 12px;
     color: #a70606;
     text-align: center;
}

.errorText {
     color: #e00022;
     font-weight: 700;
     text-align: center;
     line-height: 330px;
}

.successText {
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: #1e7900;
     align-items: center;
     height: 100%;
     font-weight: bold;
}