:root{
     font-size: 20px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
     width: 400px;
     height: 400px;
     margin: auto;
     transition: width linear 400ms, height linear 400ms;
}

.flex{
     display: flex;
}

.textCenter{
     text-align: center;
}

#loader{
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 165px;
     left: 165px;
     width: 70px;
     height: 70px;
     background-color: #fbfbfb;
     border-radius: 20px;
     box-shadow: 0 0 10px 0 #333;
}
@keyframes spin{
     0%{transform: rotate(0deg);}
     100%{transform: rotate(360deg);}
}
#title{
     margin: 0 36px;
     font-size: 30px;
     text-align: center;
     font-weight: bold;     
     border-bottom: 1px solid #ccc;
     color: #373F51;
}

#loader img{
     width: 50px;
     height: 50px;
     animation: spin 2s linear infinite;
}

.menu{
     list-style-type: none;
     align-items: center;
     justify-content: space-evenly;
     margin: 0;
     padding: 0;
}

#menu{
     opacity: 0;
     position: fixed;
     width: 100%;
     bottom: 0;
     transition: opacity linear 600ms;
}

.itemMenu{
     padding: 10px;
     height: 40px;
     text-align: center;
     flex-grow: 1;
     cursor: pointer;
     background-color: #37C5BA;
     color: #D8DBE2;
}

.itemMenu span{
     opacity: 0; 
     transition: opacity linear 400ms;
}

.itemMenu:hover{
     background-color: #22AAA1;
}

.itemMenu:hover span{
     opacity: 1;
}
.itemMenu:hover .icon{
     transform: translateY(0px);
}

.icon{
     transform: translateY(10px);
     margin: auto;
     display: block;
     width: 20px;
     height: 20px;
     transition: transform linear 200ms;
}

.user{
     justify-content: center;
     margin: 5px;
}
.user p {
     margin: 0;
}
.user img{
     margin: 1px;
     width: 16px;
     height: 16px;
}

button{
     display: block;
     width: 100px;
     height: 30px;
     margin: 10px auto 0 auto;
     background-color: #e00022;
     color: #fff;
     border: 0;
     box-shadow: 0 0 5px 0 #8a1225;
}
.form{
     align-items: center;
     justify-content: center;
     margin: 10px;
}

layer{
     font-size: 12px;
     margin: 0;
}

#DOM{
     transform: translateY(30px);
     opacity: 0;
     transition: transform linear 450ms, opacity linear 600ms;
}
.logo{
     display: block;
     width: 70px;
     height: 70px;
     margin: 5px auto 0 auto;
     transition: transform linear 400ms;
     transform: translateY(-30px);
     opacity: 0;
}
#msg{
     height: 20px;
     font-size: 12px;
     color: #a70606;
     text-align: center;
}

.login-box{
     width: 200px;
     margin: 0 auto;
}

.login-box h2{
     text-align: center;
     margin: 10px 0 0 0;
     
}

.box{
     position: relative;
     margin: 15px 0;
}

.box input{
     padding: 10px 0 0 0;
     width: 100%;
     font-size: 16px;
     color: #000;
     border: none;
     border-bottom: 1px solid #000;
     outline: none;
     background: transparent;
}
.box label{
     position: absolute;
     top: 0;
     left: 0;
     padding: 10px 0;
     color: #000;
     pointer-events: none;
     transition: .5s;
}
.box input:focus ~ label, .box input:valid ~ label, .box input:disabled ~ label{
     top: -25px;
     left: 0;
     color: #e00022;
     font-size: 12px;      
}
